{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Batman </h1>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam dolor nemo dolorem mollitia distinctio ipsam sit, natus itaque corporis! Ullam voluptate earum accusantium maxime labore velit illo fugit quas ex?</p>

    <div class-"col-4">
        <img src="/assets/img/batman.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{>footer}}